<div class="table-wrapper">
<h1>Students Catalogue</h1>
<h2>{{ isEditMode ? 'Edit Guardian' : 'Add Guardian'}}</h2>
<form (submit)="addGuardian()" #guardianForm='ngForm'>
  <mat-form-field>
    <input matInput placeholder="Name" name="name" required
           [(ngModel)]="guardianCurrent.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Age" name="age" required
           [(ngModel)]="guardianCurrent.gender">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Address" name="address" required
           [(ngModel)]="guardianCurrent.address" >
  </mat-form-field>
  <ng-container *ngIf="isEditMode; else elseTemplate">
    <button mat-button color="primary" (click)="updateGuardian()">Update</button>
    <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-button color="primary">Add</button>
  </ng-template>
</form>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>


  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a class="upIcon" (click)="editGuardian(element)">
        <mat-icon>edit</mat-icon>
      </a>

      <a class="upIcon" (click)="deleteGuardian(element)">
        <mat-icon>delete</mat-icon>
      </a>
      <a class="upIcon" (click)="sendGuardianToUrgencies(element)" [routerLink]="'/urgencies'">
        <mat-icon>work</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
